.formLabel {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 10;
    flex: 1;
  }
  .boxInput {
    position: relative;
    width: 320px;
    /* background-color: aquamarine; */
  }
  .iconsInput {
    position: absolute;
    top: 30%;
    left: 15px;
    width: 25px;
    height: 25px;
    fill: #61677c;
  }
  .boxInput:hover .iconsInput,
  .boxInput:focus .iconsInput {
    fill: #ae1100;
  }